# clang-tidy configuration
# Defines what kind of potential issues to look out for

Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,cppcoreguidelines-*,portability-*,readability-*,modernize-*,-modernize-use-trailing-return-type,-readability-function-cognitive-complexity'
WarningsAsErrors: false

FormatStyle: file
